@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 2fr 2fr 35%;
        grid-template-rows: 0.5fr 1fr 1fr 0.6fr;
        grid-template-areas:
            'box1 box1 box2 box2'
            'box3 box4 box4 box5'
            'box6 box7 box7 box5'
            'box8 box9 box10 box10';

          
    /* 
            'd1 d2 d3 d3'
            'd4 d5 d6 d7'
            'd8 d9 d9 d7'
            'd10 d11 d12 d12 '; */
    }

    a,
    .arrow,
    .box3 > a {
        font-size: 1.2rem;
    }

    .box4 > img {
        float: right;
        margin-right: 60px;
        margin-top: 168px;
    }

    .box4-text {
        padding-bottom: 15px;
    }
    /* .box7 > img{
        width: 70%;

    } */
    .box9 > div {
        margin-top: 85px;
        margin-left: 55px;
    }
}

/*small tablets*/
/* @media (max-width: 768px)  */
@media (max-width: 980px) 
{
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 25%;
        grid-template-rows: auto 1fr 1fr 1fr auto auto auto auto;
        grid-template-areas:
            'box2 box2 box2 box2'
            'box1 box1 box1 box1'
            'box3 box3 box6 box6'
            'box4 box4 box4 box4'
            'box8 box8 box5 box5'
            'box7 box7 box5 box5'
            'box9 box9 box9 box9'
            'box10 box10 box10 box10';
    }
    /* .box1{
        width: 70%;
    } */
    .caps {
        font-size: 1rem;
    }

    .grey-text {
        font-size: 1.3rem;
    }

    .box2 {
        padding-bottom: 15px;
    }

    a {
        font-size: 1.3rem;
    }

    .box1 > h3 {
        font-size: 1.6rem;
    }

    .box3 > a,
    .arrow,
    .box4-text > a {
        font-size: 1.4rem;
    }

    .twitter-container {
        margin-top: 45px;
    }

    .box5 {
        padding-bottom: 30px;
    }
    .box7 > img{
        width: 300px;
        padding-right: 40px;
    }
    .box9 > div {
        margin-top: 50px;
        margin-left: 330px;
    }

    .box9 > h3 {
        margin-top: 80px;
    }
    .circle {
        width: 200px;
        height: 200px;
    }

}

/*styles for mobile devices*/
@media (max-width: 680px){
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            'box2'
            'box1'
            'box1'
            'box3'
            'box6'
            'box4'
            'box4'
            'box8'
            'box7'
            'box5'
            'box5'
            'box9'
            'box10';
    }

    a {
        font-size: 1.4rem;
    }

    .caps {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .box1 {
        margin-left: 10px;
    }

    .box1 > h3 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .grey-text {
        font-size: 1.36rem;
    }

    .box3 > h3,
    .box6 > h3 {
        font-size: 1.8rem;
    }

    .box3 > a {
        font-size: 1.6rem;
    }

    .box6 {
        padding-bottom: 30px;
    }

    .box4 > h3 {
        font-size: 1.47rem;
        line-height: 1.5;
    }

    .box4-text {
        padding-bottom: 30px;
    }

    .box4-text > div,
    .box4-text > a {
        margin-left: 20px;
    }

    .box4-text > a {
        font-size: 1.4rem;
    }

    .twitter-container {
        margin-top: 10px;
    }

    .mini-caps {
        font-size: 1rem;
    }

    .box7 > h3 {
        margin-top: 50px;
        margin-left: 10px;
    }

    .box5 {
        padding-bottom: 50px;
    }

    .text-block {
        font-size: 1.1rem;
    }

    .text-block2 {
        font-size: 1.5rem;
    }

    .box9 > div {
        margin-left: 120px;
    }

    .box10 > img {
        width: 150px;
    }

    .box10 > h3 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-left: 35px;
    }
}